<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  body {
    padding-bottom: 60px; /* Alttaki butonlara yer bırakmak için */
  }
  .fixed-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
  }
</style>

<div class="container label-container text-center">
  <label class="h4"> {{ counter + 1 }} / {{ wordsData.Words.length }}
  </label>
  <label class="h4">{{ wordsData.Words[counter].English }}</label>
  <label class="h4" [style.visibility]="isVisible">{{ wordsData.Words[counter].Turkish }}</label>
  <label class="h4" [style.visibility]="isVisible">{{ wordsData.Words[counter].Pronunciation }}</label>
  <span [style.visibility]="isVisible" *ngFor="let word of wordsData.Words[counter].Sentence; let i = index"> {{ word.SentenceEn }} <br/> {{ word.SentenceTr }} </span>
  <span [style.visibility]="isVisible" *ngFor="let note of wordsData.Words[counter].Notes; let i = index"> {{ note }} </span>
</div>
<div class="fixed-buttons d-flex bottom">
  <button class="btn btn-primary w-50 rounded-0 btn-lg" (click)="btnPrev()">Prev</button>
  <button class="btn btn-success w-50 rounded-0 btn-lg" (click)="btnNext()">Next</button>
</div>

<div class="fixed-buttons d-flex bottom" style="bottom:47px">
  <button class="btn btn-secondary w-100 rounded-0 btn-lg" (click)="btnShow()">Show</button>
</div>

<div class="fixed-buttons d-flex bottom" style="bottom:95px">
  <input type="number" id="numberInput" (change)="onCounterChange($event)" class="form-control">
</div>

<router-outlet />
